[Unit]
Description=Ansible OpenSource UI
After=network.target mariadb.service
Requires=network.target mariadb.service

[Service]
Type=forking
LimitNOFILE=16384
ExecStart=/bin/bash /root/start_semaphore.sh

[Install]
WantedBy=multi-user.target
