[Unit]
Description=OpenConnect VPN Server
After=network.target
Requires=network.target

[Service]
Type=forking
LimitNOFILE=16384
ExecStart=/usr/local/sbin/ocserv -c /etc/ocserv/ocserv.conf

[Install]
WantedBy=multi-user.target
